.post-content ul {
    list-style: disc;
}

.post-content ol {
    list-style: decimal;
}

.post-content ul,
.post-content ol {
    margin-left: 16px;
}

.post-content p {
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h3 {
    font-size: 1rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content img {
    margin-left: auto;
    margin-right: auto;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.dark .post-content a {
    color: red;
}
